pandas==2.2.2
numpy==1.26.0
scipy==1.14.0
scikit-learn==1.5.1
matplotlib==3.9.1
matplotlib-inline==0.1.7
statsmodels==0.14.2
python-dotenv==1.0.1
tqdm==4.66.4
psycopg2-binary==2.9.9
pmdarima==2.0.4
openpyxl==3.1.5
